*{
    margin: 0;
    padding: 0;
    font-family: poppins;
    box-sizing: border-box;
}



body,html {
    height: 100%;
    width: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: dodgerblue;
}


#container{
    height: 400px;
    width: 350px;
    background-color:rgb(242, 242, 242);
    border-radius: 10px;
    position: relative;
}

#container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
    user-select: none;
}

#container i{
    color: white;
    font-size: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) scale(0);
    opacity: 0.8;
    transition: all ease 0.4s;
}